@charset "utf-8";
@font-face {
  font-family: 'NanumSquareRound';
  src: url('../src/assets/fonts/NanumSquareRoundL.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url('../src/assets/fonts/NanumSquareRoundR.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url('../src/assets/fonts/NanumSquareRoundB.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url('../src/assets/fonts/NanumSquareRoundEB.woff') format('woff');
  font-weight: 800;
}

/* reset */
html {
  font-size: 7px;
}
@media all and (min-width: 280px) {
  html {
    font-size: 7.777px;
  }
}
@media all and (min-width: 290px) {
  html {
    font-size: 8.055px;
  }
}
@media all and (min-width: 300px) {
  html {
    font-size: 8.333px;
  }
}
@media all and (min-width: 310px) {
  html {
    font-size: 8.611px;
  }
}
@media all and (min-width: 320px) {
  html {
    font-size: 9.166px;
  }
}
@media all and (min-width: 330px) {
  html {
    font-size: 9.166px;
  }
}
@media all and (min-width: 340px) {
  html {
    font-size: 9.444px;
  }
}
@media all and (min-width: 350px) {
  html {
    font-size: 9.722px;
  }
}
@media all and (min-width: 360px) {
  html {
    font-size: 10px;
  }
}
html,
body {
  width: 100%;
  height: 100%;
}
body * {
  box-sizing: border-box;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
menu,
nav,
section,
article,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption {
  margin: 0;
  padding: 0;
}
body {
  -webkit-text-size-adjust: none;
  word-wrap: break-word;
  word-break: break-all;
}
body.fixed {
  overflow-y: hidden;
}
body,
input,
select,
textarea,
button,
pre {
  border: none;
  font-size: 1.6rem;
  color: #3c3c3c;
  font-family: NanumSquareRound, sans-serif;
}
ul,
ol,
li {
  list-style-type: none;
}
table {
  border-spacing: 0;
}
img,
fieldset {
  border: 0;
}
address,
cite,
code {
  font-style: normal;
  font-weight: normal;
}
em,
i {
  font-style: normal;
}
label,
img,
input,
select,
textarea,
button {
  vertical-align: middle;
  outline: none;
}
.hide,
legend {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 0.1rem;
  height: 0.1rem;
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
}
hr {
  display: none;
}
main,
header,
section,
nav,
footer,
aside,
article,
figure {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  font-weight: 400;
}
pre {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}
input {
  width: 100%;
  height: 3.8rem;
  padding: 1rem;
  background: #fff;
  color: var(--textColor);
  border: 0.1rem solid var(--grayD5);
  border-radius: 0.8rem;
}
/* 스크롤바 */
::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #a2a2a2;
}

/* css */
:root {
  --card_shadow: 0.4rem 0.4rem 1rem 0 rgba(0, 0, 0, 0.1);
  --textColor: #3c3c3c;
  --gray78: #787878;
  --grayD9: #d9d9d9;
  --grayD5: #d5d5d5;
  --grayF2: #f2f2f2;
  --grayA3: #a3a3a3;
}

/* fontsize */
.fs_14 {
  font-size: 1.4rem;
}

/* color */
.gray78 {
  color: var(--gray78);
}

body {
  background-color: #fff;
}
.App {
  max-width: 60rem;
  margin: auto;
  height: 100vh;
  min-height: 100vh;
}

/* margin */
.mt_4 {
  margin-top: 0.4rem;
}

.text_ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* modal */
.ReactModalPortal .default {
  padding: 0 0.8rem;
}
.ReactModalPortal .default p,
.ReactModalPortal .btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ReactModalPortal .default p {
  min-height: 6.6rem;
  line-height: 1.5;
  text-align: center;
  word-break: keep-all;
}
.ReactModalPortal .btn_wrap {
  margin-top: 2rem;
  gap: 1rem;
}

.ReactModal__Content {
  overflow: inherit !important;
}

/* contents */
.sub_title {
  font-size: 1.4rem;
  color: #787878;
}
.contents.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.empty_text {
  text-align: center;
  line-height: 1.5;
}
.radiomark {
  width: 2rem;
  height: 2rem;
  background: url('./assets/image/radio-default.svg') no-repeat center / contain;
}
.btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.tab_wrap {
  background: var(--grayF2);
  border-radius: 8px;
  height: 4rem;
  display: flex;
  align-items: center;
  position: relative;
}
.tab_wrap li {
  width: 50%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s all;
}
.tab_wrap li.active {
  color: #fff;
}
.tab_wrap li:not(.bg) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.tab_wrap li.bg {
  position: absolute;
  height: calc(100% - 0.4rem);
  width: calc(50% - 0.4rem);
  box-shadow: var(--card_shadow);
}

.tab_wrap li.bg.left {
  transform: translateX(0.2rem);
}
.tab_wrap li.bg.right {
  transform: translateX(calc(100% + 0.6rem));
}
